
@{
    ViewBag.Title = "TestMate";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

<ol class="breadcrumb" id="text-title">
    <li><a href="#">报表管理</a>&nbsp;&nbsp;</li>
    <li><span class="fa fa-angle-double-right"></span>&nbsp;&nbsp;</li>
    <li><a href="#">TestMate</a>&nbsp;&nbsp;</li>
    <li><span class="fa fa-calendar"></span></li>
    <li class="active">@System.Globalization.CultureInfo.GetCultureInfo("zh-CN").DateTimeFormat.GetDayName(DateTime.Now.DayOfWeek)</li>
</ol>
<link href="~/bootstrap-table-develop/dist/bootstrap-table.css" rel="stylesheet" />
<script src="~/bootstrap-table-develop/dist/bootstrap-table.js"></script>
<script src="~/bootstrap-table-develop/dist/extensions/key-events/bootstrap-table-key-events.js"></script>
<script src="~/bootstrap-table-develop/dist/locale/bootstrap-table-zh-CN.js"></script>
<table id="table"
       data-toggle="table"
       data-show-columns="true"
       data-show-toggle="true"
       data-show-pagination-switch="true"
       data-show-refresh="true"
       data-search="true"
       data-pagination="true"
       data-key-events="true"></table>
<script type="text/javascript">
    var data;
    $('#table').bootstrapTable({
        url: "/Home/dataparkinginfo",
        method: 'get',
        sortClass: '#', //被排序的td标签的class名
        striped: true,//设置为 true 会有隔行变色效果
        //iconsPrefix: 'secondary',
        //toolbar: '#toolbar',                //工具按钮用哪个容器
        columns: [{
            field: '序号',
            title: '序号'
        }, {
            field: '停车类别',
            title: '停车类别'
        }, {
            field: '车牌号',
            title: '车牌号'
        }, {
            field: '入场时间',
            title: '入场时间'
        }, {
            field: '入场图象',
            title: '入场图象'
        }, {
            field: '占用车位',
            title: '占用车位'
        }, {
            field: '入场操作员',
            title: '入场操作员'
        }],
        pagination: true,//设置为 true 会在表格底部显示分页条
        pageNumber: 1,// 	如果设置了分页，首页页码
        pageList: [25, 50, 100],// 	如果设置了分页，设置可供选择的页面数据条数。设置为All 则显示所有记录
        search: true,//是否启用搜索框
        strictSearch: false,//设置为 true启用 全匹配搜索，否则为模糊搜索
        searchText: '',//初始化搜索文字
        trimOnSearch: true,//设置为 true 将允许空字符搜索
        showHeader: true,//是否显示列头
        showFooter: false,//是否显示列脚
        showColumns: false,// 	是否显示 内容列下拉框
        showRefresh: false,//是否显示 刷新按钮
        showPaginationSwitch: true,// 	是否显示 数据条数选择框
        minimumCountColumns: 2,// 	当列数小于此值时，将隐藏内容列下拉框。
        searchAlign: 'right'//指定 搜索框 水平方向的位置。’left’ or ‘right’

    });
    $(document).ready(function () {
        $('[name="toggle"]').addClass("fa fa-bars");
        @*$('#text-title').prepend(' <li><a href="#">EXCEL报表/</a></li><li><a href="parkinginfo">第一张报表/</a></li>');
            $('#text-title').append('<li class="active">@System.Globalization.CultureInfo.GetCultureInfo("zh-CN").DateTimeFormat.GetDayName(DateTime.Now.DayOfWeek)</li>');*@
    });
    $('#exexl-data1').click(function () {
        $('#text-title li:nth-child(1) a').text('EXCEL报表/');
        $('#text-title li:nth-child(2) a').attr('href', $(this).attr('href'));
        $('#text-title li:nth-child(2) a').text( '第一张报表/');
        $('[name="toggle"]').addClass("fa fa-bars");
    })
    //$(document).ready(function () {
    //    $('[name="toggle"]').addClass("fa fa-bars");
    //    $('#text-title li:nth-child(1) a').text('EXCEL报表/');
    //    $('#text-title li:nth-child(2) a').attr('href', $(this).attr('href'));
    //    $('#text-title li:nth-child(2) a').text($(this).first().text().trim() + '/');
    //})

</script>
@section Head{

}